{# classroomManagement/templates/base.html #}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head_content %}
        <!-- TODO: Insert default head content -->
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="author" content="Tony Rolfe">
            <meta name="description"
                  content="
                    {% block head_meta_description %}
                        {# Insert Description with no quotes in this block #}
                    {% endblock %}">
            {% block head_meta %}
                {# Insert custom meta tags in this block. #}
            {% endblock %}
            <title>
                {% block head_title %}Default Title{% endblock %}
            </title>
            <link rel="stylesheet" href="{% static 'css/app.css' %}">
            {% block head_css_link %}
                {# Insert custom css links in this block. #}
            {% endblock %}
            <style>
                {% block head_style %}
                    {# Insert Custom Styling in this block: i.e. "{% grid %}" #}
                {% endblock %}
                .box {
                          background-color: #444;
                          color: #fff;
                          border-radius: 5px;
                          padding: 20px;
                          font-size: 150%;
                        }
            </style>
        {% endblock %}
    </head>
    <body>
        <div class="grid-container">
            <div class="header box">
                <!-- TODO: Fix the logo so it displays properly -->
                <img src="{% static 'images/frenship_logo_400x400.jpg' %}" class="header_image" alt="Frenship High School Logo">
                {% block body_header_box %}
                    {# insert custom code for the top header box in this block #}
                {% endblock %}
            </div>
            <div class="sidebar_left box">
                {% block body_sidebar_box %}
                    {# insert code for the sidebar box in this block #}
                {% endblock %}
            </div>
            <div class="content box">
                {% block body_content_box %}
                    {# insert code for the page's main content in this block #}
                {% endblock %}
            </div>
        </div>
    </body>
</html>